* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}
.main {
    display: flex;
}
.button {
    width: 70px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 6px;
    border-color: skyblue;
    font-size: 25px;
    text-decoration-style: solid;
}
.calculation {
    width: 145px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 6px;
    border-color: skyblue;
    font-size: 20px;
    text-decoration-style: solid;
}
.calculator {
    background-color: skyblue;
    width: 400px;
    height: 550px;
    border-radius: 20px;
}
.form {
    margin-left: 45px;
    margin-right: 20px;
    margin-top: 50px;
}
.result {
    padding: 20px;
    color: black;
    font-size: 25px;
    font-style: normal;
}

ul li {
    padding: 20px;
    font-size: 30px;
}
.string {
    height: 80px;
    width: 350px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border-color: skyblue;
    position: relative;
    left: 20px;
    top: 20px;
}
.history {
    background-color: darkcyan;
    border-radius: 20px;
    margin-left: 20px;
}
.history h1 {
    color: white;
    text-align: center;
    padding: 20px;
}
.history li {
    color: white;
    list-style-type: none;
}
