/* You can add global styles to this file, and also import other style files */
@import "../src/app/styles/base.less";

* {
  margin: 0;
  padding: 0;
}
body {
  background: @fon;
  background-size: 100%;
}
