@import './src/app/styles/base';

li {
  text-align: center;
  padding: 10px;
  margin: 20px;
  border: 5px @color-text double;
}
p {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
