<!--<p *ngIf="isActive(animal.id)">Пол животного: {{ animal.sex }}.</p>-->
<!--<p *ngIf="isActive(animal.id)">Окраска: {{ animal.color }}.</p>-->
<!--<p *ngIf="isActive(animal.id)">Возраст: {{ animal.age }} год.</p>-->
<!--<p *ngIf="isActive(animal.id)">-->
<li class="animal" (click)="onClick()">{{ animal.type }} {{ animal.name }}
  <p *ngIf="active">
    Пол животного: {{ animal.sex }}.
    Окраска: {{ animal.color }}.
    Возраст: {{ animal.age }} год.
    Уникальные способности: {{ animal.uniqueProperties }}.
  </p>
</li>

