.info {
    text-align: center;
    margin-right: 550px;
    margin-left: 550px;
}
.info h4 {
    font-size: 45px;
    margin-bottom: 15px;
    text-align: center;
}
.card {
    font-size: 35px;
    padding: 10px;
}
.card p {
    text-align: left;
    margin-bottom: 10px;
    font-style: italic;
}