@import url(https://fonts.googleapis.com/css2?family=Tajawal:wght@300&family=Crimson+Text:wght@400;600&display=swap);

:root {
    --main-bg-color: #E3D5B8;
    --second-bg-color: #D03958;
    --main-bg-color-transparency: rgba(227, 213, 184, 0.85);
    --bg-color-white: #FFFFFF;
    --bg-color-black: #161616;
    --bg-color-gray: #B5B5B5;
    --bg-color-flag: #B4A993;
    --header-font: 'Nanum Gothic', sans-serif;
    --main-font: 'Tajawal', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100%;
}
header {
    display: flex;
}
.container {
    max-width: 1300px;
    margin: 0 auto;

}
#main {
    height: 850px;
    background: url("img/fon.png") no-repeat center;
}
.overlay {
    width: 100%;
    height: 99%;
    background: var(--main-bg-color-transparency);
}

.menu {
    display: inline-block;
    margin-right: 50px;
    margin-top: 72px;
    margin-left: 500px;
    text-transform: uppercase;
}
header .logo h1 {
    font-family: var(--main-font);
    margin-left: 40px;
    margin-top: 20px;
    font-size: 100px;
    color: var(--second-bg-color);
    font-weight: bold;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    display: inline-block;
}

.menu li a {
    display: block;
    color: var(--bg-color-black);
    text-align: center;
    padding: 4px 15px;
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 25px;
}
.menu .active a {
    background-color: var(--second-bg-color);
    color: var(--bg-color-white);
    border-radius: 5px;
}

.menu li a:hover {
    background-color: var(--second-bg-color);
    color: var(--bg-color-white);
    border-radius: 5px;
    cursor: pointer;
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.title .distinguish {
    color: var(--second-bg-color);
    font-size: 100px;
    font-family: var(--header-font);
}
.title h2 {
    font-size: 100px;
    font-family: var(--header-font);
    text-transform: uppercase;
}
.title p {
    font-size: 25px;
}
.title {
    margin-top: 100px;
 }
form {
    background: var(--second-bg-color);
    border-radius: 6px;
    position: absolute;
    top: 280px;
    right: 135px;
    padding-bottom: 20px;
}
.request-form__title {
    font-size: 30px;
    font-family: var(--main-font);
    color: var(--bg-color-white);
    text-align: center;
    text-transform: uppercase;
    padding-top: 43px;
    padding-bottom: 48px;
}
.request-form__field {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    display: flex;
}
.request-form__field input,
.request-form__field textarea {
    width: 444px;
    height: 73px;
    border-radius: 6px;
    padding-left: 15px;
    font-size: 20px;
    font-family: 'Crimson Text', sans-serif;
}
.request-form__field input::placeholder {
    color: var(--bg-color-gray);
}
.request-form__field textarea::placeholder {
    color: var(--bg-color-gray);
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}
.request-form__checkbox {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.request-form__checkbox input {
    width: 22px;
    height: 22px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    border-color: transparent;
}
.request-form__checkbox label {
    color: var(--bg-color-white);
    font-size: 28px;
    margin-bottom: 3px;
}
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    flex-grow: 0;
    border-color: transparent;
    border-radius: 6px;
    margin-right: 0.5em;
    background: var(--bg-color-white) no-repeat center center;
    background-size: 50% 50%;
}
.custom-checkbox:checked+label::before {
    background-image: url("img/checkbox.png");
}
.request-form__field button {
    background: var(--bg-color-black);
    color: var(--bg-color-white);
    font-family: var(--header-font);
    font-size: 27px;
    border-radius: 6px;
    border-color: transparent;
    padding: 23px 182px;
}
#services {
    padding-bottom: 200px;
}
.service-title {
    margin-top: 40px;
    margin-bottom: 120px;
    text-transform: uppercase;
}
.container .distinguish {
    color: var(--second-bg-color);
}
h2, p .service-title {
    font-size: 60px;
    font-family: var(--header-font);
    font-weight: bold;
}
.service-heart {
    padding-right: 130px;
}
.service-tools {
    padding-right: 130px;
}
.service_lamp {
    padding-right: 130px;
}
.service-heart img {
    width: 250px;
    height: 180px;
}
.service_title {
    font-size: 27px;
    text-align: center;
}
.service-tools img {
    width: 200px;
    height: 185px;
}
.service_lamp img {
    width: 150px;
    height: 190px;
}
.service_compass img {
    width: 200px;
    height: 190px;
}
.service p {
    font-size: 10px;
}
.services {
    display: flex;
}
#about {
    background-color: var(--second-bg-color);
    padding-top: 30px;
    padding-bottom: 30px;
}
.about-panel {
    padding-top: 43px;
    padding-bottom: 43px;
    display: flex;
}
.about-panel p {
    font-size: 28px;
    color: var(--bg-color-white);
    width: 850px;
    margin-right: 100px;
}
.about-panel button {
    font-size: 25px;
    color: var(--bg-color-black);
    text-transform: uppercase;
    width: 350px;
    border-radius: 6px;
    border-color: transparent;
    background-color: var(--main-bg-color);
}
#price {
    background: var(--main-bg-color);
}
#price h2 {
    color: var(--bg-color-black);
    font-family: var(--header-font);
    padding-top: 55px;
    padding-bottom: 55px;
    text-align: center;
    text-transform: uppercase;
}
.price-content {
    display: flex;
    justify-content: space-between;
}
.price {
    width: 415px;
    background: var(--bg-color-white);
    border-radius: 5px;
    position: relative;
}
.price h4 {
    color: var(--second-bg-color);
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--header-font);
    padding-top: 20px;
    padding-bottom: 20px;
}
.price ul {
    list-style: none;
    margin-bottom: 35px;
}
.price li {
    font-size: 27px;
    padding-top: 10px;
    text-align: center;
}
.price h6 {
    text-align: center;
    font-size: 27px;
    padding-top: 37px;
    font-weight: normal;
}
.price button {
    width: 255px;
    height: 60px;
    margin: 0 auto;
    display: block;
    background: var(--main-bg-color);
    border-radius: 6px;
    border-color: transparent;
    font-size: 25px;
    text-transform: uppercase;
}
.price .active {
    background-color: var(--second-bg-color);
    color: var(--bg-color-white);
}
.triangle-top {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 120px solid var(--bg-color-flag);
    border-right: 120px solid transparent;
    left: -14px;
}
.triangle-title p {
    font-size: 19px;
    transform: rotate(-45deg);
    position: absolute;
    top: -102px;
    left: 7px;
}
#testimonial-gallery {
    background: var(--bg-color-white);
    margin-bottom: 100px;
}
.testimonial__gallery {
    display: flex;
    padding-top: 160px;
    padding-bottom: 80px;
}
.testimonial h2 {
    font-size: 60px;
    font-family: var(--header-font);
    padding-left: 70px;
    text-transform: uppercase;
}
.gallery {
    position: relative;
}
.gallery h2 {
    font-size: 55px;
    font-family: var(--header-font);
    color: var(--second-bg-color);
    padding-left: 240px;
    text-transform: uppercase;
}
.gallery a {
    font-size: 26px;
    font-weight: normal;
    color: var(--second-bg-color);
    text-decoration: underline;
    font-family: var(--main-font);
    position: relative;
    top: 420px;
    left: 271px;
    z-index: 6;
    cursor: pointer;
}
.comments {
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 1fr;
    padding-top: 50px;
}
.comment {
    display: flex;
    padding-bottom: 20px;
}
.comment img {
    width: 135px;
    height: 150px;
    position: relative;
    left: 27px;
    box-shadow: 1px -1px 50px 0 var(--main-bg-color);
}
.comment_active__image img {
    width: 165px;
    height: 227px;
    position: relative;
    box-shadow: 1px -1px 70px 1px var(--main-bg-color);
    left: 460px;
    top: 25px;
}
.comment__text {
    width: 450px;
}
.comment__text p {
    font-weight: normal;
    font-size: 28px;
    padding-bottom: 15px;
}
.comment__text cite {
    color: var(--second-bg-color);
    font-size: 27px;
    font-family: var(--header-font);
    padding-top: 10px;
    font-style: normal;
}
.comment_active__text {
    background-color: var(--main-bg-color);
    width: 570px;
    border-radius: 5px;
    padding: 30px;
    position: absolute;
    left: 89px;
}
.comment_active__text cite {
    font-size: 27px;
    color: var(--second-bg-color);
    font-family: var(--header-font);
    padding-top: 10px;
    font-style: normal;
}
.comment_active__text p {
    font-weight: normal;
    font-size: 27px;
    padding-bottom: 15px;
}
.gallery img {
    position: absolute;
}

.gallery_img_5 {
    z-index: 1;
    bottom: 200px;
    left: 27px;
    height: 190px;
}
.gallery_img_4 {
    z-index: 2;
    left: 170px;
    top: 270px
}
.gallery_img_3 {
    z-index: 3;
    width: 500px;
    left: 290px;
    top: 200px;
}
.gallery_img_1 {
    z-index: 4;
    width: 400px;
    left: 255px;
}
.gallery_img_2 {
    z-index: 5;
    bottom: 190px;
    left: 513px;
}
footer {
    background: var(--bg-color-black);
}
.footer_content {
    display: flex;
    justify-content: space-between;
}
footer p {
    color: var(--bg-color-white);
    font-size: 23px;
    padding-top: 80px;
    padding-bottom: 80px;
}
footer span {
    color: var(--second-bg-color);
    font-size: 23px;
}
footer h2 {
    color: var(--second-bg-color);
    font-size: 80px;
    font-style: normal;
    padding-top: 50px;
    font-family: var(--main-font);
}
.is-invalid {
    border-color: #ffd800;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
}
input {
    outline: 0;
    outline-offset: 0;
    border: none;
}
textarea {
    resize: none;
    outline: 0;
    outline-offset: 0;
    border: none;
    overflow: hidden;
}
.error-message {
    color: #ffd800;
    font-size: 25px;
}
.btn-send:disabled {
    cursor: not-allowed;
    pointer-events: none;
    background-color: rgba(19, 1, 1, 0.3);
    color: rgba(16, 16, 16, 0.3);
    border-color: rgba(118, 118, 118, 0.3);
}
.required-field {
    color: #ffd800;
    font-size: 35px;
    padding-top: 18px;
    padding-left: 5px;
}
