<h2>Эти животные ждут своего хозяина:</h2>
<div class="container">
  <ul class="list-animals">
    <animal-card *ngFor="let animal of _animals"
                 [animal]="animal"
                 [active]="_activeId === animal.id"
                 (onAnimalSelect)="activeAnimal($event)"
                 (getAll)="getAll()"></animal-card>
  </ul>
</div>
<button (click)="addAnimal()" class="btn">Добавить животное</button>
<button (click)="toggleCatsVisibility()" class="btn">{{ isCatsShown ? "Скрыть" : "Показать" }} котиков</button>
