.list-animals {
  width: 500px;
  list-style-type: none;
  font-size: 40px;
  color: #FFFFFF;
}
.container {
  display: flex;
  justify-content: center;
}
li {
  text-align: center;
  padding: 10px;
  margin: 20px;
}
p {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
.btn {
  width: 250px;
  height: 50px;
  position: relative;
  left: 640px;
  color: darkblue;
  font-size: 20px;
  border-radius: 8px;
}
.animal {
  border: 5px #FFFFFF double;

}
h1 {
  font-size: 70px;
  text-align: center;
  color: #FFFFFF;
  padding: 20px;
}
h2 {
  font-size: 45px;
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
}
