*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100%;
    background: #B0E0E6;
}
h1 {
    font-size: 100px;
    text-align: center;
    color: #FFFFFF;
}
.btn-add-book {
    width: 300px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #5F9EA0;
    color: #FFFFFF;
}
.table {
    border: 1px solid #EEE;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
}
.number {
    width: 20px;
}
.name {
    width: 300px;
}
.author {
    width: 200px;
}
.genre {
    width: 100px;
}
.publishing-house {
    width: 200px;
}
.edit {
    width: 30px;
    height: 30px;
    padding: 3px;
    margin: 3px;
    border: #0A0A0A solid;
    border-radius: 5px;
}
.edit img {
    width: 17px;
    height: 16px;
}
.delete {
    width: 30px;
    height: 30px;
    padding: 3px;
    margin: 3px;
    border: #0A0A0A solid;
    border-radius: 5px;
}
.buttons {
    width: 30px;
    opacity: 0.7;
}
.delete img {
    width: 15px;
    height: 15px;
}
.table th {
    font-weight: bold;
    padding: 5px;
    background: #5F9EA0;
    border: 1px solid #DDDDDD;
    color: #FFFFFF;
    font-size: 30px;
}
.table td {
    padding: 5px 10px;
    border: 1px solid #EEE;
    text-align: left;
    font-size: 25px;
}
.table tbody tr:nth-child(odd){
    background: #FFF;
}
.table tbody tr:nth-child(even){
    background: #F7F7F7;
}
.book-form {
    width: 350px;
    background: #FFE4B5;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
}
.field input {
    width: 300px;
    height: 40px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.btn-save {
    width: 300px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #5F9EA0;
    color: #FFFFFF;
}
.none {
    display: none;
}
.editing td {
    background-color: #00FFFF;
}
.invalid {
    border: 6px solid #D03958;
}
.error {
    margin-bottom: 10px;
}
.error span {
    font-size: 25px;
    color: #D03958;
}