.button {
    border-radius: 7px;
    border-color: transparent;
    padding: 7px;
    margin: 10px;
    font-size: 20px;
}
.header {
    padding-bottom: 10px;
}
.header h1 {
    font-size: 50px;
    text-align: center;
}