.animals {
    padding-top: 10px;
    padding-bottom: 10px;
}
.animals h2 {
    font-size: 40px;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 10px;
}
.animals ul {
    list-style: none;
    text-align: center;
    font-size: 35px;
    margin-right: 600px;
    margin-left: 600px;
}
.animals li {
    margin-bottom: 15px;
    border: 3px solid;
    padding: 5px;
}
.animals a {
    text-decoration: none;
}
.animals a.text:active,
.animals a.text:hover,
.animals a.text {
    text-decoration: none;
}
