@import "./src/app/styles/base.less";

.list-animals {
  width: 500px;
  list-style-type: none;
  font-size: 40px;
  color: @color-text;
}
.container {
  display: flex;
  justify-content: center;
}
.btn {
  width: 250px;
  height: 50px;
  position: relative;
  left: 640px;
  color: @color-text-btn;
  font-size: 20px;
  border-radius: 8px;
}
h1 {
  font-size: 70px;
  text-align: center;
  color: @color-text;
  padding: 20px;
}
h2 {
  font-size: 45px;
  color: @color-text;
  text-align: center;
  padding: 20px;
}
