<h1>Зоомагазин</h1>
<h2>Эти животные ищут дом:</h2>
<div class="container">
  <ul class="list-animals">
    <animal-card *ngFor="let animal of _animals"
                 [animal]="animal"
                 [active]="_activeId === animal.id"
                 (onAnimalSelect)="activeAnimal($event)"></animal-card>
  </ul>
</div>
<button (click)="toggleCatsVisibility()" class="btn">{{ isCatsShown ? "Скрыть" : "Показать" }} котиков</button>
